.adventure-card-container {
  // min-width: 25%;
  // max-width: 50%;
  // min-height: 25%;
  // max-height: 50%;
  width: 400px;
  height: 400px;
  // height: 350px;
  margin: 15px;
}

.advenutre-card-image {
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

.hike-image {
  width: 25%;
}

.card-heading {
  margin-top: 15px;
  font-size: 28px;
}