@import '../variables';

.adventure-card-container {
  width: 300px;
  height: 300px;
  margin: 15px;
}

.advenutre-card-image {
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

.hike-card-container {
  width: 350px;
}

.hike-image {
  width: 25%;
}

.card-heading {
  margin-top: 15px;
  font-size: 28px;
}

.trip-btn-container {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.delete-btn {
  margin-top: 5px;
  border: $secondaryAccentColor 1px solid;
  background-color: $primaryColor;
  color: $secondaryAccentColor;
  border-radius: 25px;
  width: 110px;
  padding: 0px;
  height: 38px;
}

.delete-btn:hover {
  background-color: $secondaryAccentColor;
  color: $primaryColor;
}

.trip-card-image {
  width: 250px;
  height: 250px;
}