.submit-btn {
  margin: auto;
  border: 1px solid $secondaryAccentColor;
  background-color: $primaryColor;
  border-radius: 20px;
  padding: 5px;
  width: 125px;
  color: $secondaryAccentColor
}

.submit-btn:hover {
  background-color: $secondaryAccentColor;
  color: $primaryColor;
}

.modal-btn {
  margin: 5px;
  background-color: $primaryColor;
  color: $secondaryAccentColor;
  border: $secondaryAccentColor 1px solid;
  border-radius: 20px;
}

.modal-btn:hover {
  color: $primaryColor;
  background-color: $secondaryAccentColor;
  border: $secondaryAccentColor 1px solid;
}

.add-to-trip-modal {
  background: $primaryColor;
  color: $fontColor;
  border: none;
  min-width: 125px;
  font-size: 18px;
}

.add-to-trip-modal:hover {
  background: $primaryColor;
  color: $accentColor;
  border: none;
}

.add-to-trip-modal .btn .active {
  border: none;
  background: $primaryColor;
  color: $fontColor;
  box-shadow: none;
}

.add-to-trip-modal .btn-secondary {
  border: none;
  background: $primaryColor;
  color: $fontColor;
  box-shadow: none;
}

.add-to-trip-modal .btn-secondary.focus, .btn-secondary:focus {
  border: none;
  background: $primaryColor;
  color: $fontColor;
  box-shadow: none;
}

.alert-success {
  background-color: $secondaryAccentColor;
  color: $primaryColor;
  border: 1px solid $secondaryAccentColor;
}