.tab-icon {
    width: 1.75em;
    height: 1.75em;
}

.card-icon {
    width: 1.5em;
    height: 1.5em;
}

.page-icon {
    width: 2em;
    height: 2em;
}

.tab-icon, .card-icon, .page-icon {
    color: $fontColor;
}

.tab-icon:hover, .card-icon:hover, .page-icon:hover {
    color: $secondaryAccentColor;
}

.delete-button {
    width: 1.75em;
    height: 1.75em;    
}