.my-trips-btn {
  color: $fontColor;
}

.my-trips-btn:hover {
  text-decoration: none;
}

.navbar {
  background: $primaryColor;
  margin-right: 11.25%;
}

.user-icon {
  padding-right: 25px;
  background: $primaryColor;
  color: $fontColor;
  border: none;
}

.user-icon:hover {
  color: $accentColor;
}

.navbar-brand {
  color: $fontColor;
  margin-left: 13%;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 26px;
}

.navbar-brand.btn-secondary:hover {
  color: $secondaryAccentColor;
  background-color: $primaryColor;
}

.user-icon.navbar-toggler::before {
  color: $primaryColor;
  background-color: wheat;
}

// .user-icon.navbar-toggler:active {
//   color: $primaryColor;
//   background-color: wheat;
// }

.navbar-toggler-icon {
  width: 0px;
}

.button .user-icon .navbar-toggler {
  padding: 0px;
  max-height: 5px !important;
}