.single-page-header-image {
  width: 75%;
}

.park-search-results-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // display: grid;
  // justify-content: center;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
}