@import '../variables';

.park-page {
  width: 75%;
  margin: auto;
  display: grid;
  justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 
      "header1 header1 header2 header3"
      "main main main main"
      "desc desc desc desc"
      ". sidebar sidebar sidebar"
      ". sidebar sidebar sidebar";
}

.single-page-header-image {
  width: 75%;
  height: 500px;
}

.park-search-results-container {
  width: 75%;
  margin-top: 25px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header-details {
  grid-area: header1;
  justify-self: start;
  align-self: end;
}

.header-hikes-btn {
  grid-area: header2;
  justify-self: end;
  align-self: end;
  text-decoration: none;
  color: $fontColor;
  text-decoration-line: none;
}

.header-hikes-btn a {
  color: $fontColor;
  font-size: 18px;
}

.header-hikes-btn a:hover {
  color: $accentColor;
  text-decoration: none;
}

.header-hikes-btn p {
  margin-bottom: 5px;
}

.header-form {
  grid-area: header3;
  justify-self: end;
  align-self: end;
}

.single-page-park-header-image {
  grid-area: main;
}

.single-page-header-image {
  width: 100%;
}

.park-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  
}

.img {
  width: 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar {
  padding: 25px;
  grid-area: sidebar;
  background-color: $secondaryColor;
  margin-left: 15px;
  text-align: left;
}

.sidebar p, .sidebar h6 {
  margin-bottom: 0px;
}

.sidebar h6 {
  font-weight: bolder;
}

.sidebar p {
  font-size: 15px;
}

.park-description {
  grid-area: desc;
  margin-top: 15px;
  text-align: left;
}
