.trip-activities-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  justify-content: center;
  margin: 15px;
  margin: auto;
}

.activity-card-container {
  margin: 15px;
  width: 250px;
  height: 350px;
}

.advenutre-card-image {
  width: 250px;
  height: 250px;
}

.hike-activity-card-container {
  margin: 15px;
  width: 250px;
  height: 250px;
}

.hike-image {
  width: 250px;
  height: 250px;
}

.delete-activity-btn {
  margin-top: 10px;
  border: 1px solid $secondaryAccentColor;
  background-color: $primaryColor;
  color: $secondaryAccentColor;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.delete-activity-btn:hover {
  color: $primaryColor;
  background-color: $secondaryAccentColor;
}