.trip-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 15px;
  width: 75%;
  margin: auto;
}

.trip-card-container {
  width: 350px;
  height: 400px;
}

.trip-card-image {
  width: 250px;
  height: 250px;
}